set_io a[0] pad_fpga_io[0]
set_io a[1] pad_fpga_io[1]
set_io a[2] pad_fpga_io[2]
set_io a[3] pad_fpga_io[3]
set_io a[4] pad_fpga_io[4]
set_io a[5] pad_fpga_io[5]
set_io a[6] pad_fpga_io[6]
set_io a[7] pad_fpga_io[7]
set_io c[0] pad_fpga_io[8]
set_io c[1] pad_fpga_io[9]
set_io c[2] pad_fpga_io[10]
set_io c[3] pad_fpga_io[11]
set_io c[4] pad_fpga_io[12]
set_io c[5] pad_fpga_io[13]
set_io c[6] pad_fpga_io[14]
set_io c[7] pad_fpga_io[15]
set_io b[0] pad_fpga_io[16]
set_io b[1] pad_fpga_io[17]
set_io b[2] pad_fpga_io[18]
set_io b[3] pad_fpga_io[19]
set_io b[4] pad_fpga_io[20]
set_io b[5] pad_fpga_io[21]
set_io b[6] pad_fpga_io[22]
set_io b[7] pad_fpga_io[23]


