set_io clk[0] pad_fpga_io[0]
set_io reset[0] pad_fpga_io[1]
set_io load_i[0] pad_fpga_io[2]
set_io decrypt_i[0] pad_fpga_io[3]
set_io data_i[0] pad_fpga_io[4]
set_io data_i[1] pad_fpga_io[5]
set_io data_i[2] pad_fpga_io[6]
set_io data_i[3] pad_fpga_io[7]
set_io data_i[4] pad_fpga_io[8]
set_io data_i[5] pad_fpga_io[9]
set_io data_i[6] pad_fpga_io[10]
set_io data_i[7] pad_fpga_io[11]
set_io data_i[8] pad_fpga_io[12]
set_io data_i[9] pad_fpga_io[13]
set_io data_i[10] pad_fpga_io[14]
set_io data_i[11] pad_fpga_io[15]
set_io data_i[12] pad_fpga_io[16]
set_io data_i[13] pad_fpga_io[17]
set_io data_i[14] pad_fpga_io[18]
set_io data_i[15] pad_fpga_io[19]
set_io data_i[16] pad_fpga_io[20]
set_io data_i[17] pad_fpga_io[21]
set_io data_i[18] pad_fpga_io[22]
set_io data_i[19] pad_fpga_io[23]
set_io data_i[20] pad_fpga_io[24]
set_io data_i[21] pad_fpga_io[25]
set_io data_i[22] pad_fpga_io[26]
set_io data_i[23] pad_fpga_io[27]
set_io data_i[24] pad_fpga_io[28]
set_io data_i[25] pad_fpga_io[29]
set_io data_i[26] pad_fpga_io[30]
set_io data_i[27] pad_fpga_io[31]
set_io data_i[28] pad_fpga_io[32]
set_io data_i[29] pad_fpga_io[33]
set_io data_i[30] pad_fpga_io[34]
set_io data_i[31] pad_fpga_io[35]
set_io data_i[32] pad_fpga_io[36]
set_io data_i[33] pad_fpga_io[37]
set_io data_i[34] pad_fpga_io[38]
set_io data_i[35] pad_fpga_io[39]
set_io data_i[36] pad_fpga_io[40]
set_io data_i[37] pad_fpga_io[41]
set_io data_i[38] pad_fpga_io[42]
set_io data_i[39] pad_fpga_io[43]
set_io data_i[40] pad_fpga_io[44]
set_io data_i[41] pad_fpga_io[45]
set_io data_i[42] pad_fpga_io[46]
set_io data_i[43] pad_fpga_io[47]
set_io data_i[44] pad_fpga_io[48]
set_io data_i[45] pad_fpga_io[49]
set_io data_i[46] pad_fpga_io[50]
set_io data_i[47] pad_fpga_io[51]
set_io data_i[48] pad_fpga_io[52]
set_io data_i[49] pad_fpga_io[53]
set_io data_i[50] pad_fpga_io[54]
set_io data_i[51] pad_fpga_io[55]
set_io data_i[52] pad_fpga_io[56]
set_io data_i[53] pad_fpga_io[57]
set_io data_i[54] pad_fpga_io[58]
set_io data_i[55] pad_fpga_io[59]
set_io data_i[56] pad_fpga_io[60]
set_io data_i[57] pad_fpga_io[61]
set_io data_i[58] pad_fpga_io[62]
set_io data_i[59] pad_fpga_io[63]
set_io data_i[60] pad_fpga_io[64]
set_io data_i[61] pad_fpga_io[65]
set_io data_i[62] pad_fpga_io[66]
set_io data_i[63] pad_fpga_io[67]
set_io data_i[64] pad_fpga_io[68]
set_io data_i[65] pad_fpga_io[69]
set_io data_i[66] pad_fpga_io[70]
set_io data_i[67] pad_fpga_io[71]
set_io data_i[68] pad_fpga_io[72]
set_io data_i[69] pad_fpga_io[73]
set_io data_i[70] pad_fpga_io[74]
set_io data_i[71] pad_fpga_io[75]
set_io data_i[72] pad_fpga_io[76]
set_io data_i[73] pad_fpga_io[77]
set_io data_i[74] pad_fpga_io[78]
set_io data_i[75] pad_fpga_io[79]
set_io data_i[76] pad_fpga_io[80]
set_io data_i[77] pad_fpga_io[81]
set_io data_i[78] pad_fpga_io[82]
set_io data_i[79] pad_fpga_io[83]
set_io data_i[80] pad_fpga_io[84]
set_io data_i[81] pad_fpga_io[85]
set_io data_i[82] pad_fpga_io[86]
set_io data_i[83] pad_fpga_io[87]
set_io data_i[84] pad_fpga_io[88]
set_io data_i[85] pad_fpga_io[89]
set_io data_i[86] pad_fpga_io[90]
set_io data_i[87] pad_fpga_io[91]
set_io data_i[88] pad_fpga_io[92]
set_io data_i[89] pad_fpga_io[93]
set_io data_i[90] pad_fpga_io[94]
set_io data_i[91] pad_fpga_io[95]
set_io data_i[92] pad_fpga_io[96]
set_io data_i[93] pad_fpga_io[97]
set_io data_i[94] pad_fpga_io[98]
set_io data_i[95] pad_fpga_io[99]
set_io data_i[96] pad_fpga_io[100]
set_io data_i[97] pad_fpga_io[101]
set_io data_i[98] pad_fpga_io[102]
set_io data_i[99] pad_fpga_io[103]
set_io data_i[100] pad_fpga_io[104]
set_io data_i[101] pad_fpga_io[105]
set_io data_i[102] pad_fpga_io[106]
set_io data_i[103] pad_fpga_io[107]
set_io data_i[104] pad_fpga_io[108]
set_io data_i[105] pad_fpga_io[109]
set_io data_i[106] pad_fpga_io[110]
set_io data_i[107] pad_fpga_io[111]
set_io data_i[108] pad_fpga_io[112]
set_io data_i[109] pad_fpga_io[113]
set_io data_i[110] pad_fpga_io[114]
set_io data_i[111] pad_fpga_io[115]
set_io data_i[112] pad_fpga_io[116]
set_io data_i[113] pad_fpga_io[117]
set_io data_i[114] pad_fpga_io[118]
set_io data_i[115] pad_fpga_io[119]
set_io data_i[116] pad_fpga_io[120]
set_io data_i[117] pad_fpga_io[121]
set_io data_i[118] pad_fpga_io[122]
set_io data_i[119] pad_fpga_io[123]
set_io data_i[120] pad_fpga_io[124]
set_io data_i[121] pad_fpga_io[125]
set_io data_i[122] pad_fpga_io[126]
set_io data_i[123] pad_fpga_io[127]
set_io data_i[124] pad_fpga_io[128]
set_io data_i[125] pad_fpga_io[129]
set_io data_i[126] pad_fpga_io[130]
set_io data_i[127] pad_fpga_io[131]
set_io key_i[0] pad_fpga_io[132]
set_io key_i[1] pad_fpga_io[133]
set_io key_i[2] pad_fpga_io[134]
set_io key_i[3] pad_fpga_io[135]
set_io key_i[4] pad_fpga_io[136]
set_io key_i[5] pad_fpga_io[137]
set_io key_i[6] pad_fpga_io[138]
set_io key_i[7] pad_fpga_io[139]
set_io key_i[8] pad_fpga_io[140]
set_io key_i[9] pad_fpga_io[141]
set_io key_i[10] pad_fpga_io[142]
set_io key_i[11] pad_fpga_io[143]
set_io key_i[12] pad_fpga_io[144]
set_io key_i[13] pad_fpga_io[145]
set_io key_i[14] pad_fpga_io[146]
set_io key_i[15] pad_fpga_io[147]
set_io key_i[16] pad_fpga_io[148]
set_io key_i[17] pad_fpga_io[149]
set_io key_i[18] pad_fpga_io[150]
set_io key_i[19] pad_fpga_io[151]
set_io key_i[20] pad_fpga_io[152]
set_io key_i[21] pad_fpga_io[153]
set_io key_i[22] pad_fpga_io[154]
set_io key_i[23] pad_fpga_io[155]
set_io key_i[24] pad_fpga_io[156]
set_io key_i[25] pad_fpga_io[157]
set_io key_i[26] pad_fpga_io[158]
set_io key_i[27] pad_fpga_io[159]
set_io key_i[28] pad_fpga_io[160]
set_io key_i[29] pad_fpga_io[161]
set_io key_i[30] pad_fpga_io[162]
set_io key_i[31] pad_fpga_io[163]
set_io key_i[32] pad_fpga_io[164]
set_io key_i[33] pad_fpga_io[165]
set_io key_i[34] pad_fpga_io[166]
set_io key_i[35] pad_fpga_io[167]
set_io key_i[36] pad_fpga_io[168]
set_io key_i[37] pad_fpga_io[169]
set_io key_i[38] pad_fpga_io[170]
set_io key_i[39] pad_fpga_io[171]
set_io key_i[40] pad_fpga_io[172]
set_io key_i[41] pad_fpga_io[173]
set_io key_i[42] pad_fpga_io[174]
set_io key_i[43] pad_fpga_io[175]
set_io key_i[44] pad_fpga_io[176]
set_io key_i[45] pad_fpga_io[177]
set_io key_i[46] pad_fpga_io[178]
set_io key_i[47] pad_fpga_io[179]
set_io key_i[48] pad_fpga_io[180]
set_io key_i[49] pad_fpga_io[181]
set_io key_i[50] pad_fpga_io[182]
set_io key_i[51] pad_fpga_io[183]
set_io key_i[52] pad_fpga_io[184]
set_io key_i[53] pad_fpga_io[185]
set_io key_i[54] pad_fpga_io[186]
set_io key_i[55] pad_fpga_io[187]
set_io key_i[56] pad_fpga_io[188]
set_io key_i[57] pad_fpga_io[189]
set_io key_i[58] pad_fpga_io[190]
set_io key_i[59] pad_fpga_io[191]
set_io key_i[60] pad_fpga_io[192]
set_io key_i[61] pad_fpga_io[193]
set_io key_i[62] pad_fpga_io[194]
set_io key_i[63] pad_fpga_io[195]
set_io key_i[64] pad_fpga_io[196]
set_io key_i[65] pad_fpga_io[197]
set_io key_i[66] pad_fpga_io[198]
set_io key_i[67] pad_fpga_io[199]
set_io key_i[68] pad_fpga_io[200]
set_io key_i[69] pad_fpga_io[201]
set_io key_i[70] pad_fpga_io[202]
set_io key_i[71] pad_fpga_io[203]
set_io key_i[72] pad_fpga_io[204]
set_io key_i[73] pad_fpga_io[205]
set_io key_i[74] pad_fpga_io[206]
set_io key_i[75] pad_fpga_io[207]
set_io key_i[76] pad_fpga_io[208]
set_io key_i[77] pad_fpga_io[209]
set_io key_i[78] pad_fpga_io[210]
set_io key_i[79] pad_fpga_io[211]
set_io key_i[80] pad_fpga_io[212]
set_io key_i[81] pad_fpga_io[213]
set_io key_i[82] pad_fpga_io[214]
set_io key_i[83] pad_fpga_io[215]
set_io key_i[84] pad_fpga_io[216]
set_io key_i[85] pad_fpga_io[217]
set_io key_i[86] pad_fpga_io[218]
set_io key_i[87] pad_fpga_io[219]
set_io key_i[88] pad_fpga_io[220]
set_io key_i[89] pad_fpga_io[221]
set_io key_i[90] pad_fpga_io[222]
set_io key_i[91] pad_fpga_io[223]
set_io key_i[92] pad_fpga_io[224]
set_io key_i[93] pad_fpga_io[225]
set_io key_i[94] pad_fpga_io[226]
set_io key_i[95] pad_fpga_io[227]
set_io key_i[96] pad_fpga_io[228]
set_io key_i[97] pad_fpga_io[229]
set_io key_i[98] pad_fpga_io[230]
set_io key_i[99] pad_fpga_io[231]
set_io key_i[100] pad_fpga_io[232]
set_io key_i[101] pad_fpga_io[233]
set_io key_i[102] pad_fpga_io[234]
set_io key_i[103] pad_fpga_io[235]
set_io key_i[104] pad_fpga_io[236]
set_io key_i[105] pad_fpga_io[237]
set_io key_i[106] pad_fpga_io[238]
set_io key_i[107] pad_fpga_io[239]
set_io key_i[108] pad_fpga_io[240]
set_io key_i[109] pad_fpga_io[241]
set_io key_i[110] pad_fpga_io[242]
set_io key_i[111] pad_fpga_io[243]
set_io key_i[112] pad_fpga_io[244]
set_io key_i[113] pad_fpga_io[245]
set_io key_i[114] pad_fpga_io[246]
set_io key_i[115] pad_fpga_io[247]
set_io key_i[116] pad_fpga_io[248]
set_io key_i[117] pad_fpga_io[249]
set_io key_i[118] pad_fpga_io[250]
set_io key_i[119] pad_fpga_io[251]
set_io key_i[120] pad_fpga_io[252]
set_io key_i[121] pad_fpga_io[253]
set_io key_i[122] pad_fpga_io[254]
set_io key_i[123] pad_fpga_io[255]
set_io key_i[124] pad_fpga_io[256]
set_io key_i[125] pad_fpga_io[257]
set_io key_i[126] pad_fpga_io[258]
set_io key_i[127] pad_fpga_io[259]
set_io ready_o[0] pad_fpga_io[260]
set_io data_o[0] pad_fpga_io[261]
set_io data_o[1] pad_fpga_io[262]
set_io data_o[2] pad_fpga_io[263]
set_io data_o[3] pad_fpga_io[264]
set_io data_o[4] pad_fpga_io[265]
set_io data_o[5] pad_fpga_io[266]
set_io data_o[6] pad_fpga_io[267]
set_io data_o[7] pad_fpga_io[268]
set_io data_o[8] pad_fpga_io[269]
set_io data_o[9] pad_fpga_io[270]
set_io data_o[10] pad_fpga_io[271]
set_io data_o[11] pad_fpga_io[272]
set_io data_o[12] pad_fpga_io[273]
set_io data_o[13] pad_fpga_io[274]
set_io data_o[14] pad_fpga_io[275]
set_io data_o[15] pad_fpga_io[276]
set_io data_o[16] pad_fpga_io[277]
set_io data_o[17] pad_fpga_io[278]
set_io data_o[18] pad_fpga_io[279]
set_io data_o[19] pad_fpga_io[280]
set_io data_o[20] pad_fpga_io[281]
set_io data_o[21] pad_fpga_io[282]
set_io data_o[22] pad_fpga_io[283]
set_io data_o[23] pad_fpga_io[284]
set_io data_o[24] pad_fpga_io[285]
set_io data_o[25] pad_fpga_io[286]
set_io data_o[26] pad_fpga_io[287]
set_io data_o[27] pad_fpga_io[288]
set_io data_o[28] pad_fpga_io[289]
set_io data_o[29] pad_fpga_io[290]
set_io data_o[30] pad_fpga_io[291]
set_io data_o[31] pad_fpga_io[292]
set_io data_o[32] pad_fpga_io[293]
set_io data_o[33] pad_fpga_io[294]
set_io data_o[34] pad_fpga_io[295]
set_io data_o[35] pad_fpga_io[296]
set_io data_o[36] pad_fpga_io[297]
set_io data_o[37] pad_fpga_io[298]
set_io data_o[38] pad_fpga_io[299]
set_io data_o[39] pad_fpga_io[300]
set_io data_o[40] pad_fpga_io[301]
set_io data_o[41] pad_fpga_io[302]
set_io data_o[42] pad_fpga_io[303]
set_io data_o[43] pad_fpga_io[304]
set_io data_o[44] pad_fpga_io[305]
set_io data_o[45] pad_fpga_io[306]
set_io data_o[46] pad_fpga_io[307]
set_io data_o[47] pad_fpga_io[308]
set_io data_o[48] pad_fpga_io[309]
set_io data_o[49] pad_fpga_io[310]
set_io data_o[50] pad_fpga_io[311]
set_io data_o[51] pad_fpga_io[312]
set_io data_o[52] pad_fpga_io[313]
set_io data_o[53] pad_fpga_io[314]
set_io data_o[54] pad_fpga_io[315]
set_io data_o[55] pad_fpga_io[316]
set_io data_o[56] pad_fpga_io[317]
set_io data_o[57] pad_fpga_io[318]
set_io data_o[58] pad_fpga_io[319]
set_io data_o[59] pad_fpga_io[320]
set_io data_o[60] pad_fpga_io[321]
set_io data_o[61] pad_fpga_io[322]
set_io data_o[62] pad_fpga_io[323]
set_io data_o[63] pad_fpga_io[324]
set_io data_o[64] pad_fpga_io[325]
set_io data_o[65] pad_fpga_io[326]
set_io data_o[66] pad_fpga_io[327]
set_io data_o[67] pad_fpga_io[328]
set_io data_o[68] pad_fpga_io[329]
set_io data_o[69] pad_fpga_io[330]
set_io data_o[70] pad_fpga_io[331]
set_io data_o[71] pad_fpga_io[332]
set_io data_o[72] pad_fpga_io[333]
set_io data_o[73] pad_fpga_io[334]
set_io data_o[74] pad_fpga_io[335]
set_io data_o[75] pad_fpga_io[336]
set_io data_o[76] pad_fpga_io[337]
set_io data_o[77] pad_fpga_io[338]
set_io data_o[78] pad_fpga_io[339]
set_io data_o[79] pad_fpga_io[340]
set_io data_o[80] pad_fpga_io[341]
set_io data_o[81] pad_fpga_io[342]
set_io data_o[82] pad_fpga_io[343]
set_io data_o[83] pad_fpga_io[344]
set_io data_o[84] pad_fpga_io[345]
set_io data_o[85] pad_fpga_io[346]
set_io data_o[86] pad_fpga_io[347]
set_io data_o[87] pad_fpga_io[348]
set_io data_o[88] pad_fpga_io[349]
set_io data_o[89] pad_fpga_io[350]
set_io data_o[90] pad_fpga_io[351]
set_io data_o[91] pad_fpga_io[352]
set_io data_o[92] pad_fpga_io[353]
set_io data_o[93] pad_fpga_io[354]
set_io data_o[94] pad_fpga_io[355]
set_io data_o[95] pad_fpga_io[356]
set_io data_o[96] pad_fpga_io[357]
set_io data_o[97] pad_fpga_io[358]
set_io data_o[98] pad_fpga_io[359]
set_io data_o[99] pad_fpga_io[360]
set_io data_o[100] pad_fpga_io[361]
set_io data_o[101] pad_fpga_io[362]
set_io data_o[102] pad_fpga_io[363]
set_io data_o[103] pad_fpga_io[364]
set_io data_o[104] pad_fpga_io[365]
set_io data_o[105] pad_fpga_io[366]
set_io data_o[106] pad_fpga_io[367]
set_io data_o[107] pad_fpga_io[368]
set_io data_o[108] pad_fpga_io[369]
set_io data_o[109] pad_fpga_io[370]
set_io data_o[110] pad_fpga_io[371]
set_io data_o[111] pad_fpga_io[372]
set_io data_o[112] pad_fpga_io[373]
set_io data_o[113] pad_fpga_io[374]
set_io data_o[114] pad_fpga_io[375]
set_io data_o[115] pad_fpga_io[376]
set_io data_o[116] pad_fpga_io[377]
set_io data_o[117] pad_fpga_io[378]
set_io data_o[118] pad_fpga_io[379]
set_io data_o[119] pad_fpga_io[380]
set_io data_o[120] pad_fpga_io[381]
set_io data_o[121] pad_fpga_io[382]
set_io data_o[122] pad_fpga_io[383]
set_io data_o[123] pad_fpga_io[384]
set_io data_o[124] pad_fpga_io[385]
set_io data_o[125] pad_fpga_io[386]
set_io data_o[126] pad_fpga_io[387]
set_io data_o[127] pad_fpga_io[388]